.openRightPane{
    z-index: 1;
    display: inline;
    float: right;
    visibility: hidden;
  }
  
  .closeRightPane{
    visibility: visible;
  }
  
  .closeRightPane, .openRightPane{
    margin: 5px 0px 5px 0px;
  }
  
  .closeRightPane:hover, .openRightPane:hover{
    opacity: 0.75;
  }
  
  .rightPane{
    background-color: rgb(241, 248, 255);
  }